
.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }
  
  
  .NavBar .logo {
    text-decoration: none;
    color: #000; 
  }
  
  .NavBar .logo h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  
  .NavBar .nav-links {
    display: flex;
    gap: 20px; 
    flex-grow: 1; 
    justify-content: center; 
  }
  
 
  .NavBar .nav-links a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
  }
  
  .NavBar .nav-links a:hover {
    color: #0056b3; 
  }
  
  /* Estilo para el carrito */
  .NavBar .cart-icon {
    display: flex;
    align-items: center;
    margin-left: 20px; 
    margin-right: 20px; 
  }
  
  /* Estilo para la imagen del carrito */
  .NavBar .cart-img {
    width: 25%; 
    height: auto;
  }
  
  
  